---
extends: default

ignore: |
  .github/**
  crates/switchback-protobuf/tests/fixtures/**
  crates/switchback-openapi/tests/fixtures/upstream/**
  crates/switchback-asyncapi/tests/fixtures/upstream/**
